<!DOCTYPE html>
<html lang="en">
<head>
    <title>DelphianLogic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="script.js"></script>
</head>
<body>
    <div id="divFullBody">
        <div id="divHeaderBody">
            <header id="tagHeader">Delphian Logic In Action</header>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem sapiente </p>
        </div>
        <div id="divItemBody">
            <div id="divTabs" class="clsTabGroups">
                <ul>
                    <div id="divMenuItems">
                        <li id="divMenuTabs1" attr_tabCategory="" class="clsMenuTabs" attr_index="1">
                            <div class="clsMenuIcons">
                                <img src="../Assets/DL-learning.svg" >
                            </div>
                            <div class="clsMenuText">
                                <p></p>
                            </div>
                            <div class="clsTabActive clsActiveMenu"></div>
                            <div class="clsMenuShowHide">
                                <img src="../Assets/plus-01.svg" >
                            </div>
                        </li>
                        <li id="divMenuTabs2" attr_tabCategory="" class="clsMenuTabs" attr_index="2">
                            <div class="clsMenuIcons">
                                <img src="../Assets/DL-technology.svg" >
                            </div>
                            <div class="clsMenuText">
                                <p></p>
                            </div>
                            <div class="clsTabActive "></div>
                            <div class="clsMenuShowHide">
                                <img src="../Assets/plus-01.svg" >
                            </div>
                        </li>
                        <li id="divMenuTabs3" attr_tabCategory="" class="clsMenuTabs" attr_index="3">
                            <div class="clsMenuIcons">
                                <img src="../Assets/DL-communication.svg" >
                            </div>
                            <div class="clsMenuText">
                                <p></p>
                            </div>
                            <div class="clsTabActive "></div>
                            <div class="clsMenuShowHide">
                                <img src="../Assets/plus-01.svg" >
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
            <div id="divImageSlider" class="clsTabGroups">
                <div id="divOverlay"></div>
                <div id="divImageHeader">
                    <span>DIGITAL LEARNING INFRASTRUCTURE</span>
                </div>
                <div id="divImageDescription">
                    <a>
                        Usability enhancement and Training for Transaction Portal for Customers
                    </a>
                </div>
                <div id="divLearnMore">
                    <a>Learn More </a>
                    <img src="../Assets/arrow-right.svg" alt="">
                </div>
                <div id="divPagination">
                    <span id="spnPagination1" attr_id = "1" attr_category="Learning" class="clsPagination active"></span>
                    <span id="spnPagination2" attr_id = "2" attr_category="Learning" class="clsPagination"></span>
                    <span id="spnPagination3" attr_id = "3" attr_category="Learning" class="clsPagination"></span>
                </div>
            </div>
            <div id="divImageConnected" class="clsTabGroups">
                <img src="../Assets/DL-Learning-1.jpg" alt="">
            </div>
        </div>
    </div>
</body>
</html>