<!DOCTYPE html>
<html lang="en">
<head>
    <h1>Delphian Logic In Action</h1>
    <title>Document</title>
</head>
<body>
    <div id="divFullBody">
        <div id="divTabs">
            <ul>
                <li>learning</li>
                <li>Technology</li>
                <li>Communication</li>
            </ul>
        </div>
        <div id="divImageSlider">
            <ul>
                <li>image1</li>
                <li>image2</li>
                <li>image3</li>
            </ul>
        </div>
    </div>
</body>
</html>